<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>A Secured Page</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
<h1><em>Secured Area!</em></h1>
<p>Hello, <th:block th:text="${name}" /> !</p>
<p>You are allowed to access this private page.</p>

<form method="post" action="/logout" th:if="${_csrf != null}">
  <input name="_csrf" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
  <button class="btn" type="submit">Log out</button>
</form>

</body>
</html>
